.h1{
  text-align: center;
  font-size: 10px;
}

.barra-0{
  width: 0%;
  height: 30px;
  
}
.barra-1{
  width: 25%;
  height: 50px;
  background-color: red;
  color:white;
  border-color: black;
  border-style:groove;
  
  font-size: 12px;

}
.barra-2{
  width: 50%;
  height: 50px;
  background-color: yellow;
  border-color: black;
  border-style:groove;  
  font-size: 12px;
}
.barra-3{
  width: 75%;
  height: 50px;
  background-color: blue;
  color: white;
  border-color: black;
  border-style:groove;  
  font-size: 12px;
}
.barra-4{
  width: 100%;
  height: 50px;
  background-color: green;
  color: white;
  border-color: black;
  border-style:groove;  
  font-size: 12px;
}